@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;800&family=Plus+Jakarta+Sans:wght@300;400;500;700&family=Playfair+Display:wght@700;900&display=swap");

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
}

.nav-link {
  padding-top: 15px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 23px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #2d2f30;
}

.search-icon img {
  padding-top: 10px;
}

.collapse-horizontal {
  position: absolute;
  top: 50px;
  width: 300px;
}

.hero-bg {
  position: absolute;
  right: 100px;
  z-index: 0;
  padding-top: 100%;
  width: 100%;
  background-image: url("../img/hero-bg.png");
  background-position: top right;
  background-size: 50%;
  background-repeat: no-repeat;
}

.hero-left {
  padding-top: 5em;
}

.action-bg {
  border-radius: 50px;
  font-size: 14px;
  background: #e7f6ff;
}

.action-bg .action-lable {
  border-radius: 50px;
  padding: 5px 10px;
  color: #fff;
  background: #094b72;
}

.action-bg .action-sentence {
  color: #094b72;
}

.hero-companies-images {
  max-width: 300px;
}

.hero-heading {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 90px;
  line-height: 120%;
  color: #094b72;
}

.hero-desc {
  font-size: 24px;
  line-height: 158%;
  color: #4f4f4f;
}

.hero-button {
  border-radius: 8px;
  width: 190px;
  color: #f9f8f9;
  background: #094b72;
}

.hero-companies {
  font-weight: 300;
  font-size: 22px;
  line-height: 140.5%;
  color: #8b8c8c;
}

.image-hero {
  position: relative;
  margin-left: -150px;
}

.image-text {
  position: absolute;
  left: 0;
  right: 30px;
  bottom: -30px;
  margin: 0 auto;
  border-radius: 10px;
  max-width: 380px;
  background: #fff;
  filter: drop-shadow(0 39px 100px rgb(25 62 108 / 1%));
}

.image-name {
  font-weight: 700;
  font-size: 24px;
  color: #33475b;
}

.image-desc {
  font-weight: 500;
  font-size: 16px;
  color: #87898c;
}

.about {
  position: relative;
  top: 0;
  z-index: 0;
  padding: 103px 0 87px;
  background: #f2f7ff;
}

.about-title {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  line-height: 64px;
  color: #2d2f30;
}

.about-desc {
  font-family: Poppins, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  line-height: 36px;
  color: #8b8c8c;
}

.about-blocks {
  gap: 30px;
}

.block {
  flex: 1 1 40%;
  border-radius: 8px;
  padding: 24px;
  box-shadow: 0 18px 58px 16px rgb(0 0 0 / 6%);
  background: #fcfcfc;
}

.block-header {
  padding: 20px 0;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  line-height: 22px;
  color: #363940;
}

.block-desc {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #8b8c8c;
}

.count {
  position: relative;
  background: #094b72;
}

.count::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../img/pattern-bg.png");
}

.count-numbers {
  margin: 0 auto;
  width: 940px;
}

.count-block {
  flex: 1;
  border-right: 1px solid #fff;
}

.count-block:last-child {
  border-right: none;
}

.count-title {
  padding-bottom: 5px;
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #fff;
}

.count-desc {
  padding-bottom: 48px;
  font-family: Poppins, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #fff;
}

.counter-blog-number {
  font-family: Poppins, serif;
  font-weight: 800;
  font-style: normal;
  font-size: 48px;
  line-height: 64px;
  color: #fff;
}

.count-block-desc {
  font-family: Poppins, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #fff;
}

.testimonials {
  background-color: #f2f7ff;
}

.testimonial-title {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  line-height: 64px;
  color: #2d2f30;
}

.testimonial-item-box {
  position: relative;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgb(41 41 42 / 7%);
  background: #fff;
}

.testimonial-item-box::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  margin: 0 auto;
  border-top: 10px solid #fff;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  width: 0;
  height: 0;
}

.testimonial-item-title {
  font-family: Poppins, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
  color: #151617;
}

.testimonial-item-text {
  font-family: Poppins, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: #4f4f4f;
}

.testimonial-author-image img {
  border-radius: 50%;
}

.testimonial-author-name {
  font-family: Poppins, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 28px;
  color: #151617;
}

.testimonial-author-prof {
  font-family: Poppins, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: #2d2f30;
}

.callnow-title {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  line-height: 64px;
  color: #2d2f30;
}

.callnow-desc {
  font-family: Poppins, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 24px;
  line-height: 36px;
  color: #4f4f4f;
}

.callnow-button button {
  border-color: #094b72;
  font-family: Poppins, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 22px;
  line-height: 36px;
  color: #f9f8f9;
  background: #094b72;
}

.footer {
  color: #fff;
  background: #094b72;
}

.menu-title {
  font-family: Poppins, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  color: #f4f5f7;
}

.menu-list {
  list-style: none;
  padding-left: 0;
}

.menu-list li {
  font-family: Poppins, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  color: #eeeff4;
}

.footer-left img {
  max-width: 130px;
}

.copyright {
  font-family: Poppins, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: #d9dbe1;
}

.copyright-section {
  background: #004d7b;
}

@media only screen and (max-width: 1400px) {
  .hero-bg {
    right: 0;
    background-size: 60%;
  }

  .hero-middle {
    display: none;
  }

  .hero-heading {
    font-size: 80px;
  }
}

@media only screen and (max-width: 1200px) {
  .hero-heading {
    font-size: 60px;
  }

  .hero-desc {
    font-size: 24px;
  }
}

@media only screen and (max-width: 992px) {
  .hero-heading {
    font-size: 50px;
  }

  .image-hero img {
    max-width: 400px;
  }

  .image-hero {
    margin-left: -100px;
  }

  .search-icon {
    display: none;
  }

  .hero-left {
    padding-top: 0;
  }

  .count-numbers {
    margin: 0 auto;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .hero-right,
  .hero-bg {
    display: none;
  }

  .hero-heading {
    font-size: 44px;
  }

  .about-title,
  .count-title,
  .testimonial-title,
  .callnow-title {
    font-size: 40px;
    line-height: 46px;
  }

  .count-title,
  .counter-blog-number {
    font-size: 40px;
  }

  .count-desc,
  .count-block-desc {
    font-size: 16px;
    line-height: 20px;
  }

  .callnow-right {
    display: none;
  }

  .callnow-desc,
  .about-desc,
  .hero-companies,
  .hero-desc {
    font-size: 18px;
    line-height: 26px;
  }
}
